@tailwind base;
@tailwind components;
@tailwind utilities;
.custom {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; /* Center text within the div */
}

.custom img {
    margin-top: 20px;
    max-width: 100%; /* Ensure the image fits within the div */
}

.custom div {
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: bold;
    color: #333; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 2.2em; /* Adjust font size as needed */
    margin-top: 50px; /* Add spacing between the image and text */
    
}
